# Variables de entorno
.env

# Maven
**/target/

# IDE
**/.idea/
**/*.iml
**/.vscode/

# Logs & Audit files
*.log
**/*.log
logs/
**/logs/

# Allure Testing Framework
**/testing-automation/.allure/
**/testing-automation/allure-results/
**/testing-automation/allure-report/